# Documentation owners and reviewers
doc/        @Maria1Petrova @maciekpac @nikitaxgusev
*.md        @Maria1Petrova @maciekpac @nikitaxgusev
man/        @nikitaxgusev @srirajpaul @maciekpac

# TTP files
third-party*    @Maria1Petrova @maciekpac @nikitaxgusev

# Tests & examples
tests/    @nikitaxgusev @srirajpaul
examples/    @nikitaxgusev @srirajpaul

# Infrastructure and tools
.github/    @Maria1Petrova @nikitaxgusev

# Build & dev infrastructure
cmake/    @nikitaxgusev @srirajpaul

# C++ code
src/    @nikitaxgusev @srirajpaul
