# Documentation owners and reviewers
doc/        @Maria1Petrova @maciekpac @jbrosenz @pmeltsin @moshe-roden
*.md        @Maria1Petrova @maciekpac @jbrosenz @pmeltsin @moshe-roden
man/         @maciekpac @jbrosenz @pmeltsin @moshe-roden

# TTP files
third-party*    @Maria1Petrova @maciekpac @jbrosenz @pmeltsin @moshe-roden

# Tests & examples
tests/    @jbrosenz @maciekpac @Maria1Petrova @pmeltsin @moshe-roden
examples/    @jbrosenz @maciekpac @Maria1Petrova @pmeltsin @moshe-roden

# Infrastructure and tools
.github/    @jbrosenz @maciekpac @Maria1Petrova @zhenggb72 @pmeltsin @moshe-roden

# Build & dev infrastructure
cmake/    @zhenggb72 @jbrosenz @maciekpac @pmeltsin @moshe-roden

# C++ code
src/    @zhenggb72 @jbrosenz @maciekpac @pmeltsin @moshe-roden
