# Documentation owners and reviewers
doc/        @Maria1Petrova @maciekpac @jbrosenz
*.md        @Maria1Petrova @maciekpac @jbrosenz
man/        @maciekpac @jbrosenz

# TTP files
third-party*    @Maria1Petrova @jbrosenz

# Tests & examples
tests/    @jbrosenz @maciekpac @Maria1Petrova 
examples/    @jbrosenz @maciekpac @Maria1Petrova

# Infrastructure and tools
.github/    @jbrosenz @maciekpac 

# Build & dev infrastructure
cmake/    @zhenggb72 @jbrosenz @maciekpac 

# C++ code
src/    @zhenggb72 @jbrosenz @maciekpac 
