*.d
*.o
*.a
*.log
.lastoptions*
*~
_install/
*.out
*.orig
_rpm/
_staging/
_deb/
_package/
_predrop/
_tmp/
_log/
*.tgz
*.tar.gz
doc/rst/build/
doc/doxygen/*
examples/logs
examples/main_output.txt
.vs
.vscode
include/oneapi/ccl/config.h
*.bc
tools/ze_info/ze_info
tools/ze_health/ze_health
tests/reg_tests/build/
build
build_gpu/
l_ccl_*
.cache
summary.junit.xml*
*.swp
