*.d
*.o
*.a
*.log
.lastoptions*
*~
_install/
*.out
*.orig
_rpm/
_staging/
_deb/
_package/
_predrop/
_tmp/
_log/
*.tgz
*.tar.gz
doc/rst/build/
doc/doxygen/*
examples/logs
examples/main_output.txt
.vs
.vscode
include/oneapi/ccl/config.h
*.bc
tools/ze_info/ze_info
tools/ze_health/ze_health
tests/reg_tests/build/
build
build_gpu/
l_ccl_*
.cache
summary.junit.xml*
*.swp
build*
deps/libccl/tests/reg_tests/common/abi_test
deps/libccl/tests/reg_tests/common/abi_test_pre
deps/libccl/tests/reg_tests/cpu/allgather
deps/libccl/tests/reg_tests/cpu/allreduce_comm_split
deps/libccl/tests/reg_tests/sycl/inference/examples/sycl_allgatherv_usm_comm_split_test
deps/libccl/tests/reg_tests/sycl/inference/examples/sycl_allreduce_usm_comm_split_test
deps/libccl/tests/reg_tests/sycl/inference/examples/sycl_mt_allgather_usm_test
deps/libccl/tests/reg_tests/sycl/inference/examples/sycl_mt_allgatherv_usm_test
deps/libccl/tests/reg_tests/sycl/inference/examples/sycl_mt_allreduce_usm_test
deps/libccl/tests/reg_tests/sycl/inference/examples/sycl_mt_alltoall_usm_test
deps/libccl/tests/reg_tests/sycl/inference/examples/sycl_mt_broadcast_usm_test
deps/libccl/tests/reg_tests/sycl/inference/examples/sycl_mt_pt2pt_group_usm_test
deps/libccl/tests/reg_tests/sycl/inference/examples/sycl_mt_pt2pt_usm_test
deps/libccl/tests/reg_tests/sycl/inference/examples/sycl_mt_reduce_scatter_usm_test
deps/libccl/tests/reg_tests/sycl/inference/examples/sycl_reduce_scatter_usm_comm_split_test
deps/libccl/tests/reg_tests/sycl/inference/examples/sycl_reduce_scatter_usm_inplace_test_inorder
deps/libccl/tests/reg_tests/sycl/inference/examples/graph_integration/graph_benchmark
deps/libccl/tests/reg_tests/sycl/inference/examples/graph_integration/graph_integration
deps/libccl/tests/reg_tests/sycl/inference/examples/graph_integration/graph_mt_integration
deps/libccl/tests/reg_tests/sycl/inference/examples/ll_algorithms/sycl_allgather_buffer_overflow_test
deps/libccl/tests/reg_tests/sycl/inference/examples/ll_algorithms/sycl_allreduce_buffer_overflow_test
deps/libccl/tests/reg_tests/sycl/inference/examples/ll_algorithms/sycl_alltoall_buffer_overflow_test
deps/libccl/tests/reg_tests/sycl/inference/examples/ll_algorithms/sycl_broadcast_buffer_overflow_test
deps/libccl/tests/reg_tests/sycl/inference/examples/ll_algorithms/sycl_pt2pt_buffer_overflow_test
deps/libccl/tests/reg_tests/sycl/inference/examples/ll_algorithms/sycl_reduce_scatter_buffer_overflow_test
deps/libccl/tests/reg_tests/sycl/internal_tests/p2p_barrier_pair
deps/libccl/tests/reg_tests/sycl/pt2pt/alltoall
deps/libccl/tests/reg_tests/sycl/pt2pt/hyper_cub
deps/libccl/tests/reg_tests/sycl/pt2pt/pt2pt_comm_split
deps/libccl/tests/reg_tests/sycl/pt2pt/pt2pt_group
deps/libccl/tests/reg_tests/sycl/pt2pt/pt2pt_self
